@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="">Welcome to the Entertainment Dork website!</h1>
    <h5 class="font-weight-normal">The Entertainment Dork is an Independent entertainment outlet for news, blogs, and publications.</h5>
    <h4>Topics include: Poised Positivity, Noxious Negativity, Movies & TV, Gaming, Celebrities, Politics</h4>
</div>
