@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="main">
    <div id="main-left">
        <div class="title">
            Why The Mandalorian Season 1 is Superior to Season 2
        </div>
        <div class="author">By: MistahEye YT G EM</div>
        <div class="readtime">8 minute read</div>
        <!--foreach(var paragraph in article) {}-->
        <div class="paragraph">
            The Mandalorian's freshman season contained an outstanding
            cast of not only new actors to the Star Wars scene, but also
            strictly adhereing to characters that had not been
            previously established in the Star Wars universe.
            Unfortunately, season 2 often relies on these previously
            established characters, making it not live up to the
            original season.
        </div>
        <div class="ad">Ad space</div>
    </div>
    <div id="main-right">
        <div class="ad">Ad space</div>
    </div>
</div>
